{{=<% %>=}}
<div>
    <ion-card>
        <ion-card-header>
            <ion-card-title></ion-card-title>
            <core-file [file]="{fileurl: '<% data %>', filename: 'certificate.pdf'}" ></core-file>
            <a href="<% data %>" download="file.pdf" core-external-content>download</a>
            <p><% data %></p>
        </ion-card-header>
    </ion-card>
</div>