{{=<% %>=}}
<div>
<%#badges%>
    <ion-card>
        <ion-card-header>
            <ion-card-title><% name %></ion-card-title>
        </ion-card-header>
        <img src="<% imageurl %>" />
        <ion-card-content>
            <a href="<% downloadurl %>" core-link inApp=true autoLogin=true>{{ 'plugin.local_badgecerts.downloadcertificate' | translate }}</a>
        </ion-card-content>
    </ion-card>
<%/badges%>
</div>