{{=<% %>=}}
<div>
    <ion-card>
        <ion-card-header>
            <ion-card-title></ion-card-title>
            <button ion-button [core-download-file]="{url: '<% data %>'}">

            </button>
        </ion-card-header>
    </ion-card>
</div>