{{=<% %>=}}
<div>
    <ion-list>
    <%#badges%>
        <ion-item>
            <ion-label>
                <h2><% name %></h2>
                <a href="<% downloadurl %>" core-link>
                    <ion-thumbnail>
                        <img src="<% imageurl %>">
                    </ion-thumbnail>
                </a>
            </ion-label>
        </ion-item>
    <%/badges%>
    </ion-list>
</div>